$primary-color: #3b82f6;
$secondary-color: #1d365e;
$primary-bg: #f5f9fe;
$color: #656774;
$shadow-color: #e2ebfc;
$white: #ffffff;
$black: #000000;

body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: $color;
  background-color: $primary-bg;
}

#loading {
  background-color: rgba(255, 255, 255, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  display: grid;
  place-content: center;
}

.header {
  background-color: $black;
  padding: 1rem 0;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    color: $primary-color;
    &:hover{
      color: $primary-color;
    }
  }
  &__nav {
    a {
      color: $white;
      position: relative;
      transition: 0.5s;

      &::before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -3px;
        width: 0;
        height: 2px;
        background-color: $primary-color;
        transition: 0.5s;
      }
      &.active {
        color: $primary-color;
        &::before {
          width: 100%;
        }
      }
      &:hover {
        color: $primary-color;
        &::before {
          width: 100%;
        }
      }
    }
  }
  &__cartBtn {
    color: $white;
    background-color: $primary-color;
    line-height: 1;
    padding: 8px 12px;
    transition: 0.5s;

    &:hover {
      color: $primary-color;
      background-color: $white;
    }
  }

  &__quantity {
    display: none;
    padding: 2px 6px;
    @media screen and (min-width: 640px) {
      padding: 4px 8px;
    }
  }
}

.banner {
  height: 100vh;
  background-color: $black;
  background-image: url("../img/hero_section_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.product {
  &__filter {
    margin-top: 1rem;
    @media screen and (min-width: 640px) {
      margin-top: 0;
    }
  }

  &__item {
    box-shadow: 4px 4px 10px $shadow-color, -4px -4px 10px $white;
    background-color: $white;
    border-radius: 4px;
    
    @media screen and (min-width: 640px) {
      border-radius: 10px;
    }
  }

  &__img{
    height: 200px;
    overflow: hidden;

    img {
      height: 100%;
      object-fit: cover;
      margin: 0 auto;
    }
  }

  &__name{
    color: $secondary-color;
  }

  &__detailTbl{    
    table{
      margin-bottom: 0;

      th{
        color: $color;
      }
    }
  }
}

.shopping-table {
  font-size: 12px;
  @media screen and (min-width: 640px) {
    font-size: 16px;
  }

  th,
  td {
    padding: 4px;
    @media screen and (min-width: 640px) {
      padding: 8px;
    }
  }

  img {
    width: 3rem;
  }
}

.number-input {
  border: 1px solid #ddd;
  display: flex;
  justify-content: space-between;

  button {
    outline: none;
    -webkit-appearance: none;
    background-color: #f3f4f6;
    border: none;
    align-items: center;
    justify-content: center;
    width: 1.2rem;
    height: 1.2rem;
    cursor: pointer;
    margin: 0;
    position: relative;

    &::before,
    &::after {
      display: inline-block;
      position: absolute;
      content: "";
      width: 0.5rem;
      height: 1px;
      background-color: #212121;
      transform: translate(-50%, -50%);
    }
  }

  button.plus {
    &::after {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }

  input[type="number"] {
    max-width: 2rem;
    height: 1.2rem;
    text-align: center;
    padding: 0.2rem;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
  }
}

.offcanvas-end {
  width: 600px;
}
