body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #656774;
  background-color: #f5f9fe;
}

#loading {
  background-color: rgba(255, 255, 255, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  display: grid;
  place-content: center;
}

.header {
  background-color: #000000;
  padding: 1rem 0;
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  color: #3b82f6;
}
.header__logo:hover {
  color: #3b82f6;
}
.header__nav a {
  color: #ffffff;
  position: relative;
  transition: 0.5s;
}
.header__nav a::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #3b82f6;
  transition: 0.5s;
}
.header__nav a.active {
  color: #3b82f6;
}
.header__nav a.active::before {
  width: 100%;
}
.header__nav a:hover {
  color: #3b82f6;
}
.header__nav a:hover::before {
  width: 100%;
}
.header__cartBtn {
  color: #ffffff;
  background-color: #3b82f6;
  line-height: 1;
  padding: 8px 12px;
  transition: 0.5s;
}
.header__cartBtn:hover {
  color: #3b82f6;
  background-color: #ffffff;
}
.header__quantity {
  display: none;
  padding: 2px 6px;
}
@media screen and (min-width: 640px) {
  .header__quantity {
    padding: 4px 8px;
  }
}

.banner {
  height: 100vh;
  background-color: #000000;
  background-image: url("../img/hero_section_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.product__filter {
  margin-top: 1rem;
}
@media screen and (min-width: 640px) {
  .product__filter {
    margin-top: 0;
  }
}
.product__item {
  box-shadow: 4px 4px 10px #e2ebfc, -4px -4px 10px #ffffff;
  background-color: #ffffff;
  border-radius: 4px;
}
@media screen and (min-width: 640px) {
  .product__item {
    border-radius: 10px;
  }
}
.product__img {
  height: 200px;
  overflow: hidden;
}
.product__img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
}
.product__name {
  color: #1d365e;
}
.product__detailTbl table {
  margin-bottom: 0;
}
.product__detailTbl table th {
  color: #656774;
}

.shopping-table {
  font-size: 12px;
}
@media screen and (min-width: 640px) {
  .shopping-table {
    font-size: 16px;
  }
}
.shopping-table th,
.shopping-table td {
  padding: 4px;
}
@media screen and (min-width: 640px) {
  .shopping-table th,
  .shopping-table td {
    padding: 8px;
  }
}
.shopping-table img {
  width: 3rem;
}

.number-input {
  border: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
}
.number-input button {
  outline: none;
  -webkit-appearance: none;
  background-color: #f3f4f6;
  border: none;
  align-items: center;
  justify-content: center;
  width: 1.2rem;
  height: 1.2rem;
  cursor: pointer;
  margin: 0;
  position: relative;
}
.number-input button::before, .number-input button::after {
  display: inline-block;
  position: absolute;
  content: "";
  width: 0.5rem;
  height: 1px;
  background-color: #212121;
  transform: translate(-50%, -50%);
}
.number-input button.plus::after {
  transform: translate(-50%, -50%) rotate(90deg);
}
.number-input input[type=number] {
  max-width: 2rem;
  height: 1.2rem;
  text-align: center;
  padding: 0.2rem;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
.number-input input[type=number]::-webkit-inner-spin-button, .number-input input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.offcanvas-end {
  width: 600px;
}/*# sourceMappingURL=index.css.map */